/* Header  */
.header {
  background-color: lavender;
}

/* Index Page */
.entry {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.entry-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  width: 90%;
}



.entry-date {
  font-size: 0.8rem;
  color: #999;
  padding-right: 10px;
}