@import url('https://fonts.googleapis.com/css?family=Merienda');


.App {
  height: 100vh;
}

:root {
  background-image: url("https://i.imgur.com/DfkO5ad.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Set the body to a relative position so the pseudo-element is positioned accordingly */
  position: relative;

  /* Set the root's margin to 0 to prevent any unwanted space around it */
  margin: 0;
  min-height: 100vh;
}

.App::before {
  /* Create a content box for the pseudo-element */
  content: "";

  /* Set the second background (top layer) with transparency */
  background-color: rgb(230, 230, 250, 0.4);

  /* Position the pseudo-element on top of the body */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


  /* Set a z-index to ensure the pseudo-element stays below the actual content */
  z-index: -1;
}


.btn,
.add-btn {
  display: inline-block;
  background-color: rgb(222, 164, 240);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Merienda';
  cursor: pointer;
  border: none;
  border-radius: 5px;
}


/* Header  */
.header {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-family: 'Merienda';
  background-color: rgba(241, 230, 250, 0.8);
  padding: 0.9rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

.link-btn-container {
  font-size: 1rem;
  margin-left: auto;
}

.link-btn {
  font-size: 1rem;
  margin-left: auto;
  display: inline-block;
  background-color: rgb(222, 164, 240);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Merienda';
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.header-logo {
  height: 3rem;
}

.header-title {
  margin: 0;
}

/* Index Page */
h2 {
  font-size: 1.7rem;
  font-family: 'Merienda';
  margin-bottom: 1.2rem;
  margin-left: 6.2rem;
}

.entry {
  display: flex;
  align-items: center;
  margin-left: 6rem;
  width: 55%;
  padding: 0.7rem;
  font-size: 1.2em;
}

.entry-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.entry-date {
  font-size: 0.8rem;
  color: #999;
  padding-right: 10px;
}

.new-entry-btn-container {
  margin-top: 20px;
  margin-left: 6rem;
  margin-bottom: 20px;
  width: 55%;
  display: flex;
  justify-content: right;
}

.new-entry-btn {
  display: inline-block;
  background-color: rgb(222, 164, 240);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

small {
  font-family: 'Merienda';
}


/* Create Form & Update Form */
.form {
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: center;
  flex-direction: row;
}

.create-form {
  width: 100%;
  margin-left: 5rem;
}

.input {
  width: 100%;
  height: 70vh;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.btn {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.add-btn {
  font-size: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}


input[type="text"]::placeholder {
  color: #999;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 1.2rem;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  transform: translateY(-50%);
}

/* Show Page */
.content {
  background-color: rgb(230, 230, 250, 0.6);
  max-width: 55%;
  margin-left: 6rem;
  padding: 2rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

small {
  font-size: 0.9rem;
  display: block;
}