/* Header  */
.header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.2em;
  background-color: lavender;
  margin-bottom: 2rem;
}

/* Index Page */
.entry {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
}

.entry-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.entry-date {
  font-size: 0.8rem;
  color: #999;
  padding-right: 10px;
}

/* Create Form */
.create-form {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.add-input {
  width: 80%;
  height: 70vh;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.add-btn {
  font-size: 1rem;
  margin-top: 2rem;
}

input[type="text"]::placeholder {
  color: #999;
  font-style: italic;
  font-size: 0.8rem;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  transform: translateY(-50%);
}